<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/stylesheets/userdetails.css">
    
</head>
<body>
    <h1>Task List</h1>
    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task-Status</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
            <% tasks.forEach(task => { %>
                <tr>
                    <td><%= task.taskName %></td>
                    <td><%= task.status ? 'Done' : 'Pending' %></td>
                    <td><%= task.user.name %></td> 
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
